# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# PyTorch / Transformers cache
~/.cache/huggingface/
~/.cache/torch/

# VS Code settings
.vscode/
